/* Moved style elements here from basic structure */

.btn-bottom {
    margin-bottom: 50px;
}

#loginForm, #regForm {
    width: 70%;
    margin: 0 auto;
}

#signupBtn {
    margin-top: 20px;
}

#navTabs {
    margin-top: 100px;
}

#regtab input {
    margin-bottom: 10px;
}

#logtab input {
    margin-bottom: 10px;
}

#mainmenu {
    margin-top: 100px;
    margin-bottom: 50px;
}

body {
    background: #f3f2f3;
    color: #000000;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
}

.container {
    background: #FFFFFF;
    padding: 0px;
    margin: 0px auto;
    /*margin: 30px auto;*/
    width: 900px;
    height: 640px;
}

.header {
    #background: #838283;
    height: 40px;
    width: 900px;
}

.navigation {
    #background: #a2a2a2;
    width: 900px;
    height: 64px;
}

.menu {
    /*border: 1px black solid;*/
    #background: #333333;
    float: right;
    width: 200px;
    height: 400px;
    padding-left: 10px;
}

#id {
    visibility: hidden;
}

.content {
    /*border: 1px black solid;*/
    #background: #d2d0d2;
    float: left;

    width: 700px;
    height: 400px;
    position: relative;
}

.clear {
    clear: both;
}

.footer {
    #background: #838283;
    height: 20px;
    width: 900px;
}

#map, #datePickerContainer, #graphicContainer {
    /*border: 1px black solid;*/
    height: 100%;
    width: 100%;
}

.red {
    background-color: #9999FF;
}

.green {
    background-color:#66CC66;
}

.blue {
    background-color: #6699FF;
}

.yellow {
    background-color:#FFCC33;
}

.pink{
    background-color:#FF6633;
}

.squareButton {
    margin:10px;
    border-radius: 20px;
    width: 160px;
    height: 150px;
    /*background-color: #4cae4c;*/
    vertical-align: middle;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.myFont {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 20px
}

#errorMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -125px;
    width: 250px;
    height: 20px;
}

#loadingDiv {
    content: url(../img/loading.gif);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

/*#graphicContainer{*/
/*width:100%;*/
/*height:100%;*/

/*}*/
a#globeDiv {
    /*content:url(globe.png);*/
    background: url(../img/globe.png);
    display: block;
    width: 64px;
    height: 64px;
    margin: 0px;
    padding: 0px;
}

/*div.header{*/
/*min-width:600px;*/
/*max-width:4000px;*/
/*height:70px;*/
/*}*/

