/* Moved style elements here from basic structure */

.btn-bottom {
    margin-bottom: 50px;
}
#loginForm, #regForm {
    width:70%;
    margin:0 auto;
}
#signupBtn {
    margin-top:20px;
}
#navTabs {
    margin-top:100px;
}
#regtab input {
    margin-bottom:10px;
}
#logtab input {
    margin-bottom:10px;
}
#mainmenu {
    margin-top:100px;
    margin-bottom:50px;
}
body {
}

#map {
    height: 400px;
    width: 100%;
}

#loadingDiv{
    content:url(../img/loading.gif);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

a#globeDiv{
    /*content:url(globe.png);*/
    background:url(../img/globe.png);
    display:block;
    width: 64px;
    height: 64px;
    margin:0px;
    padding:0px;
}

div.header{
   min-width:600px;
    max-width:4000px;
    height:70px;
}

div.left_col { border-right:2px dashed #717dc9;
    width:400px;
    height:400px;
    float:left}


